.photo__post-img {
  max-width: 700px;
  max-height: 700px;
  border: 2px solid salmon;
  border-radius: 20px;
}

.photos {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  background-color: rgb(164, 201, 199);
  border-radius: 20px;
  border: 2px solid salmon;
}

.photos__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
}

.photo__post-title p {
  font-size: 20px;
}
